/*-------- VK-WARNING --------*/

.vk-banner {
    position: relative;
    margin: 0 auto var(--mNormal) auto;
    width: var(--small-width);
    font-weight: bold;
    text-align: center;
    color: var(--text);
    text-decoration: none;
    line-height: 1.6;
    padding: 24px;
}

.vk-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    border: solid 4px var(--glowbase);
    filter: var(--glow);
}

/*-------- HERO --------*/

/*---- COUNTER ----*/

#counter-over {
    color: var(--red-text);
    font-weight: bold;
    text-align: center;
}

#counter {
    margin-inline: auto;
    width: var(--big-width);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: calc(var(--mNormal) * 2);
}

@media screen and (max-width: 450px) {
    #counter {
        gap: var(--mNormal);
    }
}

#counter > div {
    position: relative;
    aspect-ratio: 1;
}

.counter-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 4px;
    border-radius: var(--border-radius);
    border-style: solid;
    border-color: var(--glowbase);
    filter: var(--glow);
    transition: var(--glow-animation);
}

.counter-span-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter-span-container > span {
    color: var(--text);
    font-size: var(--header);
    font-family: Courgette, sans-serif;
    text-align: center;
}

/*---- SOCIAL ----*/

.social-wrapper {
    width: var(--small-width);
    margin: var(--mNormal) auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.social-wrapper > a {
    margin-inline: auto;
    aspect-ratio: 1;
    height: calc(var(--header) * 1.25);
}

.social-wrapper > a > svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.social-wrapper > a:hover {
    filter: drop-shadow(0 0 4px var(--text));
}

/*-------- VIDEO --------*/

.video-player {
    margin-inline: auto;
    width: var(--big-width);
    border-radius: var(--border-radius);
    aspect-ratio: 16 / 9;
}

/*-------- GALERIE --------*/

#galerie > a {
    margin-inline: auto;
}

.gallery-wrapper {
    width: var(--big-width);
    height: var(--galerie-grid-height);
    overflow: hidden;
    margin-inline: auto;
    -webkit-mask-image: -webkit-linear-gradient(to right, transparent, black 25%, black 75%, transparent);
    mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
}

.moving-gallery-wrapper {
    height: 100%;
    display: flex;
    width: max-content;
    gap: var(--mNormal);
    animation: slide 32s linear infinite;
    will-change: transform;
}

.moving-gallery-wrapper > img {
    height: 100%;
    object-fit: contain;
    border-radius: var(--border-radius);
}

@keyframes slide {
    0% {
        transform: translateZ(0px) translate(0%);
    }

    100% {
        transform: translateZ(0px) translate(calc(-100% + var(--big-width)));
    }
}

/*-------- ORT --------*/

.main-map-wrapper {
    margin-inline: auto;
    width: var(--big-width);
    border-radius: var(--border-radius);
    height: auto;
    aspect-ratio: 1.778;
    overflow: hidden;
    position: relative;
}

.main-map-wrapper > iframe {
    width: 100%;
    height: 100%;
}

/*-------- TICKETS --------*/

.pricing {
    margin: var(--mNormal) auto;
    display: flex;
    justify-content: center;
    gap: var(--mNormal);
    width: var(--small-width);
}

.pricing > div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: var(--mNormal)
}

#vorverkauf-warning {
    color: var(--red-text);
    font-weight: bold;
}

.vorverkaufsorte-grid {
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--mNormal);
    width: var(--big-width);
}

.vorverkaufsort {
    max-width: calc(0.5 * (var(--big-max-width) - var(--mNormal)));
    width: 100%;
    display: flex;
    flex-direction: column;
}

.vorverkaufsort > div {
    border-radius: var(--border-radius);
    aspect-ratio: 1.778;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.vorverkaufsort > div > iframe {
    width: 100%;
    height: 100%;
}

.vorverkaufsort > p {
    color: var(--text);
    text-align: center;
    margin: var(--mNormal) 0;
}

.vorverkaufsort > p > a {
    color: var(--text);
}

/*-------- TEAM --------*

#team-loading-error {
    color: var(--red-text);
    text-align: center;
    margin-inline: auto;
    width: var(--small-width);
}

/*---- SELECT ----*

#custom-team-selector {
    display: inline-block;
    position: relative;
}

#custom-team-selector > label {
    display: none;
}

#custom-team-selector > svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    padding: 1.1rem 1rem 0 1rem;
    text-align: center;
    pointer-events: none;
    width: 30px;
}

#team-selector {
    color: var(--text);
    padding: 1rem 3.5rem 1rem 1rem;
    border-radius: var(--border-radius);
    background-color: var(--primary);
    appearance: none;
    -webkit-appearance: none;
    transition: background-color var(--transition-time) linear;
    font-weight: bold;
}

#team-selector:hover {
    background-color: var(--hover);
}

#team-selector > option {
    background: var(--background);
}

/*---- LIST ----*

#member-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--mNormal);
    margin-inline: auto;
    width: var(--big-width);
}

#member-grid > a {
    width: 120px;
    text-decoration: none;
}

#member-grid > a > img {
    display: block;
    border-radius: var(--border-radius);
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    overflow: hidden;
}

#member-grid > a > p {
    margin: var(--mNormal) 0;
    color: var(--text);
    width: 100%;
    text-align: center;
}

/*----*/

.fallback-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
