.hero {
    position: relative;
    width: 100vw;
    min-height: 100svh;
    height: fit-content;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("./background.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: grayscale(100%) brightness(75%);
    z-index: -2;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center, #4055b488, #000000ee 80%);
    z-index: -1;
}

.party {
    width: 12rem;
    padding-left: 4rem;
    fill: #8dcfff;
    filter: drop-shadow(0px 0px 2px #0095ff) drop-shadow(0px 0px 4px #0095ff) drop-shadow(0px 0px 8px #0095ff);
}

.title {
    color: white;
    font-size: 12vw;
    margin: 4rem 0;
    font-family: "Courgette", cursive;
    text-shadow: 0 0 10px #fff, 0 0 32px #fff;
    text-align: center;
}

.counter-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
    max-width: min(75%, 1000px);
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.counter {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 100%;
    container: counter-text / inline-size;
}

.counter::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 4px;
    border-radius: 10%;
    border-style: solid;
    border-color: #8dcfff;
    filter: drop-shadow(0px 0px 2px #0095ff) drop-shadow(0px 0px 4px #0095ff) drop-shadow(0px 0px 8px #0095ff);
}

.counter > span {
    position: absolute;
    left: 5px;
    right: 0;
    top: 5px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 10rem;
    font-family: "Courgette", cursive;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff;
    text-align: center;
}

.date, .time {
    margin: 0;
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    text-align: center;
}

.date {
    margin-top: 2rem;
}

.social-container {
    margin-top: 1rem;
}

.social {
    font-size: 5rem;
    margin: 2rem;
    color: white;
    font-weight: bold;
}

.social:hover {
    text-shadow: 0 0 8px #fff;
}

@media screen and (max-width: 1100px) {
    .counter > span {
        font-size: 7rem;
    }
}

@media screen and (max-width: 1050px) {
    .party {
        width: 10rem;
    }

    .title {
        margin: 2rem 0;
    }
}


@media screen and (max-width: 850px) {
    .party {
        width: 10rem;
    }

    .title {
        font-size: 14vw;
    }

    .counter > span {
        font-size: 5rem;
    }

    .date, .time {
        font-size: 2rem;
    }
}

@media screen and (max-width: 650px) {
    .counter-wrapper {
        max-width: min(90%, 1000px);
    }

    .counter > span {
        font-size: 4rem;
    }

    .date, .time {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 450px) {
    .counter > span {
        font-size: 3rem;
    }

    .social {
        font-size: 4rem;
        margin: 1rem;
    }
}

@media screen and (max-width: 359px) {
    .party {
        width: 8rem;
        padding-left: 2rem;
    }

    .counter > span {
        font-size: 2.5rem;
    }

    .social {
        font-size: 3rem;
        margin: 1rem;
    }
}
