/*----- HERO -----*/

.hero {
    position: relative;
    width: 100%;
    min-height: 100svh;
    height: fit-content;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("background.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: grayscale(100%) brightness(75%);
    z-index: -2;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center, var(--heroaccent), var(--herobackground) 80%);
    z-index: -1;
}

.party {
    width: 12rem;
    padding-left: var(--m3);
    fill: var(--glowbase);
    filter: var(--glow);    
}

.title {
    font-size: var(--very-large);
    text-align: center;
    color: var(--text);
    font-family: Courgette, sans-serif;
    margin: var(--m3) 0 0 0;
}

.counter-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var(--m2);
    max-width: 1000px;
    margin: var(--m3) auto;
    align-items: center;
}

.counter {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 100%;
    container: counter-text / inline-size;
}

.counter::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 4px;
    border-radius: 10%;
    border-style: solid;
    border-color: var(--glowbase);
    filter: var(--glow);
}

.counter > span {
    position: absolute;
    left: 5px;
    right: 0;
    top: 5px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text);
    font-size: var(--very-large);
    font-family: "Courgette", cursive;
    text-shadow: 
        0 0 5px var(--text), 
        0 0 10px var(--text);
    text-align: center;
}

.date, .time {
    margin: 0;
    font-size: var(--header);
    color: var(--text);
    font-weight: bold;
    text-align: center;
}

.social-container {
    margin: var(--m3) 0;
}

.social {
    font-size: var(--very-large);
    margin: 0 var(--m2);
    color: var(--text);
    font-weight: bold;
}

.social:hover {
    text-shadow: 0 0 8px var(--text);
}


/*----- SECTIONS -----*/

.section {
    margin: 0;
    padding-top: var(--m3);
    background-color: var(--background);
}

.section > h2 {
    margin: 0;
    color: var(--text);
    font-size: var(--header);
    text-align: center;
}

.section-text {
    margin: var(--m2) var(--m3) 0 var(--m3);
    color: var(--text);
    font-size: var(--normal);
    max-width: 500px;
    text-align: center;
}

/* --- WO ---*/
#wo > div {
    margin-top: var(--m2);
}


/*----- FOOTER -----*/

.footer {
    background-color: var(--background);
    padding: var(--m3) 0 var(--m1) 0;
}

.footer-link {
    color: var(--text);
    font-size: var(--small);
    margin: 0 var(--m1);
}