/*-------- VK-WARNING --------*/

.vk-banner {
    background-color: var(--red-text);
    display: block;
    font-size: var(--normal);
    color: var(--text);
    text-decoration: none;
    width: 100%;
    padding: var(--msy) 0;
    text-align: center;
    font-weight: bold;
}

/*-------- HERO --------*/

.party {
    width: min(20vw, 400px);
    padding-left: var(--mx);
    fill: var(--glowbase);
    filter: var(--glow);
    transition: var(--glow-animation);
    margin-top: calc(-0.75 * var(--msy));
}

/*---- COUNTER ----*/

#counter-over {
    color: var(--red-text);
    font-size: var(--normal);
    font-weight: bold;
    text-align: center;
}

#counter {
    margin-inline: auto;
    width: var(--big-width);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var(--mg);
}

#counter > div {
    position: relative;
    aspect-ratio: 1;
}

.counter-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 4px;
    border-radius: var(--border-radius);
    border-style: solid;
    border-color: var(--glowbase);
    filter: var(--glow);
    transition: var(--glow-animation);
}

.counter-span-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter-span-container > span {
    color: var(--text);
    font-size: var(--counter);
    font-family: Courgette, sans-serif;
    text-shadow: 0 0 5px var(--text),
    0 0 10px var(--text);
    text-align: center;
}

/*---- SOCIAL ----*/

.social-link {
    margin: 0 var(--mx);
}

.social {
    width: min(12.5vw, 100px);
}

.social:hover {
    filter: drop-shadow(0 0 8px var(--text));
}

/*-------- VIDEO --------*/

.video-wrapper {
    margin: 0 var(--mx);
}

.video-wrapper > video {
    border-radius: var(--border-radius);
    width: 100%;
    height: auto;
    max-width: var(--max-width-2);
}

/*-------- GALERIE --------*/

#galerie-error {
    color: var(--red-text);
    font-size: var(--normal);
    text-align: center;
    margin-inline: auto;
    width: var(--small-width);
}

/*-------- ORT --------*/

.main-map-wrapper {
    display: inline-block;
    background-image: url(main-map-placeholder.webp);
    background-size: cover;
    margin-inline: auto;
    width: var(--big-width);
    border-radius: var(--border-radius);
    height: auto;
    aspect-ratio: 1.778;
    overflow: hidden;
}

.main-map-wrapper > iframe {
    width: 100%;
    height: 100%;
}

/*-------- TICKETS --------*/

#vorverkauf-warning {
    color: var(--red-text);
    font-weight: bold;
}

.vorverkaufsorte-grid {
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--mg);
    width: var(--big-width);
}

.vorverkaufsort {
    max-width: calc(calc(var(--max-width-2) - var(--mg)) / 2);
    width: 100%;
    display: flex;
    flex-direction: column;
}

#tourist-map {
    background-image: url(tourist-map-placeholder.webp);
    background-size: cover;
}

#fos-map {
    background-image: url(fos-map-placeholder.webp);
    background-size: cover;
}

#ticket-map {
    background-image: url(ticket-map-placeholder.webp);
    background-size: cover;
}

.vorverkaufsort > div {
    border-radius: var(--border-radius);
    aspect-ratio: 1.778;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.vorverkaufsort > div > iframe {
    width: 100%;
    height: 100%;
}

.vorverkaufsort > p {
    color: var(--text);
    text-align: center;
    font-size: var(--normal);
    margin: var(--mg) 0;
}

.vorverkaufsort > p > a {
    color: var(--text);
}

/*-------- TEAM --------*/

#team-loading-error {
    color: var(--red-text);
    font-size: var(--normal);
    text-align: center;
    margin-inline: auto;
    width: var(--small-width);
}

/*---- SELECT ----*/

#custom-team-selector {
    display: inline-block;
    position: relative;
}

#custom-team-selector > label {
    display: none;
}

#custom-team-selector > svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    padding: 1.1rem 1rem 0 1rem;
    text-align: center;
    pointer-events: none;
    width: 30px;
}

#team-selector {
    font-size: var(--normal);
    color: var(--text);
    padding: 1rem 3.5rem 1rem 1rem;
    border-radius: var(--border-radius);
    background-color: var(--primary);
    appearance: none;
    -webkit-appearance: none;
    transition: background-color var(--transition-time) linear;
    font-weight: bold;
}

#team-selector:hover {
    background-color: var(--hover);
}

#team-selector > option {
    background: var(--background);
}

/*---- LIST ----*/

#member-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--mg);
    margin-inline: auto;
    width: var(--big-width);
}

#member-grid > a {
    width: 120px;
    text-decoration: none;
}

#member-grid > a > img {
    display: block;
    border-radius: var(--border-radius);
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    overflow: hidden;
}

#member-grid > a > p {
    margin: var(--mg) 0;
    color: var(--text);
    font-size: var(--normal);
    width: 100%;
    text-align: center;
}