body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

* {
  font-family: "Roboto", sans-serif;
}

.background-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  background: radial-gradient(#0020b188, #000000ee 80%);
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  z-index: -1;
  background: radial-gradient(#e66465, #9198e5);
  filter: grayscale(100%) brightness(75%);
}

.menu {
  background-color: #ffffff00;
  backdrop-filter: blur(5px);
  filter: drop-shadow(00px 5px 4px rgb(0, 0, 10));
  height: 48px;
  display: flex;
  justify-content: space-around;
}

.menu-link {
  width: 100%;
  height: 100%;
  color: inherit;
  text-decoration: none;
}

.button {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.button-span {
  color: white;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

.button:hover {
  background-color: #ffffff44;
  text-shadow: 0 0 8px #fff;
}

.party {
  width: 175px;
  padding: 0px 50px;
  fill: #8dcfff;
  filter: drop-shadow(0px 0px 2px #0095ff) drop-shadow(0px 0px 4px #0095ff)
    drop-shadow(0px 0px 8px #0095ff);
}

.party-container {
  display: flex;
  justify-content: left;
  height: 100%;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  height: 100%;
}

.title {
  color: white;
  font-size: 12vw;
  padding: 50px 0px;
  font-family: "Courgette", cursive;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 42px #fff;
}

.title-container {
  display: flex;
  justify-content: center;
}

.counter-container {
  display: flex;
  justify-content: center;
}

.counter {
  color: white;
  font-size: 100px;
  font-family: "Courgette", cursive;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff;
  line-height: 160px;
}

.counter-wrapper {
  display: flex;
  justify-content: center;
  width: 160px;
  height: 160px;
  margin: 15px;
}

.counter-border {
  width: 160px;
  height: 160px;
  position: absolute;
  border-width: 4px;
  border-radius: 10%;
  border-style: solid;
  border-color: #8dcfff;
  filter: drop-shadow(0px 0px 2px #0095ff) drop-shadow(0px 0px 4px #0095ff)
    drop-shadow(0px 0px 8px #0095ff);
}

.date-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.date {
  font-size: 24px;
  color: white;
  font-weight: bold;
}

.social-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.social {
  font-size: 48px;
  margin: 10px;
  color: white;
  font-weight: bold;
}

.social:hover {
  text-shadow: 0 0 8px #fff;
}
