.email, .phone {
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-inline: var(--mNormal);
}

.email > span, .phone > span {
    max-width: var(--max-width-1);
    color: var(--text);
    white-space: nowrap;
    text-align: center;
}

.email {
    font-size: clamp(min(var(--normal), 3.75vw), 100vw, min(var(--normal), 3.75vw));
}

.phone {
    font-size: var(--normal);
}

.back > i {
    margin-right: 1rem;
}