body {
    background-color: rgb(0, 0, 0);
}

.layer-wrapper {
    text-align: center;
    color: white;
}

.layer {
    margin-block-end: 50px;
}

.back {
    color: white;
}

.backlayer {
    margin-top: 2rem;
}