.title-link {
    margin-bottom: 0;
}

#to-overview {
    text-decoration: none;
    margin: var(--msy) var(--mx) 0 var(--mx);
    cursor: pointer;
}

#to-overview > h2, #more {
    color: var(--gray-text);
    transition: color var(--transition-time);
    font-size: clamp(min(var(--header), 7vw), 100vw, min(var(--header), 7vw));
}

#to-overview:hover > h2, #more:hover {
    color: var(--text);
}

#to-overview > h2 {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
}

#to-overview > svg {
    top: 10%;
    position: relative;
    width: clamp(min(var(--header), 7vw), 100vw, min(var(--header), 7vw));;
}

#to-overview > svg > g {
    stroke: var(--gray-text);
    transition: stroke var(--transition-time);
}

#to-overview:hover > svg > g {
    stroke: var(--text);
}

#more {
    margin: 0 var(--mx) var(--my) var(--mx);
    cursor: pointer;
    text-align: center;
}