.email, .phone {
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin: var(--msy) var(--mx) 0 var(--mx);
}

.email > span, .phone > span {
    max-width: 500px;
    color: var(--text);
    white-space: nowrap;
    text-align: center;
}

.email {
    font-size: clamp(min(var(--normal), 3.75vw), 100vw, min(var(--normal), 3.75vw));
}

.phone {
    font-size: var(--normal);
}