:root {
    --big-max-width: 1000px;
}

#big-view {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #000d;
    transition: background-color var(--transition-time) linear;
}

#images {
    position: absolute;
    right: 0;
    top: 0;
    width: 300vw;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 100vw);
    z-index: -1;
    transform: translateZ(0px) translateX(100vw);
}

#images > div {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

@keyframes slideRight {
    0% { transform: translateZ(0px) translateX(100vw); }
    100% { transform: translateZ(0px) translateX(0vw); }
}

@keyframes slideLeft {
    0% { transform: translateX(100vw); }
    100% { transform: translateX(200vw); }
}

.slideRight {
    animation: slideRight 0.25s forwards;
}

.slideLeft {
    animation: slideLeft 0.25s forwards;
}

#previous, #next, #close {
    position: absolute;
    border-radius: var(--border-radius);
    background-color: #000b;
    transition: background-color var(--transition-time) linear;
    width: var(--mSection);
    height: var(--mSection);
    border: solid #fff 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
}

#previous:disabled, #next:disabled, #close:disabled {
    background-color: #0005;
}

#previous > svg, #next > svg, #close > svg {
    width: 100%;
    height: 100%;
    stroke: #fff;
}

#previous {
    bottom: 0;
    left: 0;
}

#next {
    bottom: 0;
    right: 0;
}

#close {
    top: 0;
    right: 0;
}

/*-------- GALERIE YEAR PREVIEW --------*/

.galerie-grid {
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--mNormal);
    width: var(--big-width);
}

.galerie-grid > .img {
    border-radius: var(--border-radius);
    height: var(--grid-height);
    object-fit: cover;
    overflow: hidden;
}

.more-images {
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: var(--grid-height);
    aspect-ratio: 1;
    background-color: var(--background);
    transition: background-color var(--transition-time) linear;

    font-size: 10rem;
    font-weight: bold;
    color: var(--text);
}

.more-images:hover {
    background-color: var(--text-gray);
}
