@font-face {
    font-family: Courgette;
    font-display: swap;
    src: url(courgette/font.ttf);
}

:root {
    /*===== Colors =====*/
    --text: #eceef9;
    --gray-text: #b6b7bf;
    --red-text: #ec1f13;
    --background: #191c31;
    --primary: #ffffff22;
    --hover: #ffffff44;
    --glowbase: #8dcfff;
    --glowcolor: #0095ff;

    /*===== EFFECTS =====*/
    --glow: drop-shadow(0px 0px 2px var(--glowcolor)) drop-shadow(0px 0px 4px var(--glowcolor)) drop-shadow(0px 0px 8px var(--glowcolor));
    --shadow: drop-shadow(0px 0px 2px var(--background)) drop-shadow(0px 0px 4px var(--background)) drop-shadow(0px 0px 8px var(--background));
    --glow-animation: filter 50ms;
    --transition-time: 75ms;

    /*===== Font =====*/
    font-family: sans-serif;
    --title: 4.5rem;
    --header: calc(var(--title) * 0.65);
    --normal: 1.125rem;

    /*===== Margins =====*/
    --mNormal: 1rem;
    --nav-height: calc(4 * var(--mNormal) + 2 * 1px + 1rem);
    --mSection: calc(var(--nav-height) + 1rem);

    /*===== OTHER =====*/
    --border-radius: 18px;
    --big-max-width: 600px;

    --big-width: min(100% - var(--mNormal) * 2, var(--big-max-width));
    --small-width: min(100% - var(--mNormal) * 2, 500px);

    --galerie-grid-height: 200px;

}

@media screen and (max-width: 900px) {
    :root {
        --title: 4rem;
    }
}


@media screen and (max-width: 500px) {
    :root {
        --title: 2.875rem;
        --mSection: 4rem;
    }
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body, html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    padding: calc(var(--nav-height) + var(--mNormal)) 0 var(--mNormal) 0;
    display: flex;
    flex-direction: column;
}

.hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}


/*-------- BACKGROUND --------*/

.background {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -12;
}

.background-gradient {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 125vh;
    background: radial-gradient(circle at center, #17267377, #04050ddd 90%);
    z-index: -11;
}

.blur-in {
    animation-name: blur-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.blur-out {
    animation-name: blur-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes blur-in {
    0% {
        filter: blur(0);
    }
    100% {
        filter: blur(4px);
    }
}

@keyframes blur-out {
    0% {
        filter: blur(4px);
    }
    100% {
        filter: blur(0);
    }
}

/*-------- NAV --------*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--mNormal);
    height: var(--nav-height);
    width: 100%;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    z-index: 11;
    padding: var(--mNormal);
    align-items: center;
}

nav::before {
    content: "";
    position: absolute;
    bottom: 0;
    top: auto;
    height: 1px;
    left: 0;
    width: 100%;
    background: radial-gradient(62.87% 100%, #fff3 0%, #fff0 100%);
}

.nav-logo {
    display: inline-flex;
    height: 100%;
    overflow: hidden;
    align-items: center;
    gap: var(--mNormal);
    text-decoration: none;
}

.nav-logo > img {
    height: 100%;
    object-fit: contain;
}

.nav-logo > span {
    color: var(--text);
}

.nav-links {
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    padding-inline: var(--mNormal);
    height: 100%;
    display: inline-flex;
    align-items: center;
    border: 1px #fff1 solid;
    background-color: #0007;
    border-radius: var(--border-radius);
    margin-inline: auto;
}

.nav-links * {
    height: 1rem;
    font-size: 1rem;
    line-height: 1rem;
    object-fit: contain;
    cursor: pointer;
    text-decoration: none;
    color: var(--text);
    padding-inline: var(--mNormal);
    transition: color var(--transition-time) linear;
}

.nav-no-wide {
    display: none;
}

.nav-links > *:hover {
    color: var(--gray-text);
}

@media screen and (max-width: 1100px) {
    .nav-logo > span {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .nav-no-narrow {
        display: none;
    }

    .nav-no-wide {
        display: inline;
    }
}

@media screen and (max-width: 500px) {
    nav {
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
        display: flex;
        bottom: 0;
        top: auto;
    }

    nav::before {
        display: none;
        top: 0;
        bottom: auto;
    }

    .nav-logo {
        display: none;
    }

    body {
        padding: var(--mNormal) 0 calc(var(--nav-height) + var(--mNormal)) 0;
    }
}

/*-------- SECTIONS --------*/

body > section:not(:first-of-type) {
    padding: calc(var(--mSection)) 0 0 0;
}

section {
    display: flex;
    flex-direction: column;
    gap: var(--mNormal);
}

section p:not(.ignore), section a.center {
    text-align: center;
    width: var(--small-width);
    margin-inline: auto;
    color: var(--text);
    line-height: 1.3;
    font-size: var(--normal);
}

section a:not(.ignore) {
    text-decoration: underline;
    color: var(--text);
    font-size: var(--normal);
}

/*-------- TITLES --------*/

h1, h2, h3 {
    text-align: center;
    color: var(--text);
}

h1 {
    font-size: var(--title);
    font-family: Courgette, sans-serif;
    margin-bottom: var(--mNormal);
}

h2 {
    font-size: var(--header);
    font-family: Courgette, sans-serif;
}

h3 {
    margin-top: var(--mNormal);
}

/*-------- GALERIE --------*/

.galerie-grid {
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--mNormal);
    width: var(--big-width);
}

.galerie-grid > .img {
    border-radius: var(--border-radius);
    height: var(--galerie-grid-height);
    object-fit: cover;
    overflow: hidden;
}

.more-images {
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: var(--galerie-grid-height);
    aspect-ratio: 1;
    background-color: var(--primary);
    transition: background-color var(--transition-time) linear;
}

.more-images:hover {
    background-color: var(--hover);
}

.more-images > i {
    font-size: 150px;
    color: var(--text);
}

/*-------- FOOTER --------*/

#footer {
    margin-bottom: var(--mNormal);
}

#footer > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--mNormal);
    width: var(--big-width);
    margin-inline: auto;
}