@font-face {
    font-family: Courgette;
    font-display: swap;
    src: url(assets/courgette/font.ttf);
}

:root {
    /*===== Colors =====*/
    --text: #eceef9;
    --text-gray: #b6b7bf;
    --text-red: #ec1f13;
    --background: #0007;

    /*===== EFFECTS =====*/
    --glowbase: #8dcfff;
    --glowcolor: #0095ff;
    --glow: drop-shadow(0px 0px 2px var(--glowcolor)) drop-shadow(0px 0px 4px var(--glowcolor)) drop-shadow(0px 0px 8px var(--glowcolor));
    --shadow-color: #191c31;
    --shadow: drop-shadow(0px 0px 2px var(--shadow-color)) drop-shadow(0px 0px 4px var(--shadow-color)) drop-shadow(0px 0px 8px var(--shadow-color));
    --glow-animation: filter 50ms;
    --transition-time: 75ms;

    /*===== Font =====*/
    font-family: sans-serif;
    --title: 4.5rem;
    --header: calc(var(--title) * 0.65);
    --normal: 1.125rem;

    /*===== Margins =====*/
    --mNormal: 1rem;
    --nav-height: calc(4 * var(--mNormal) + 2 * 1px + 1rem);
    --mSection: calc(var(--nav-height) + 1rem);

    /*===== OTHER =====*/
    --border-radius: 18px;
    --border: 1px #ffffff17 solid;
    --big-max-width: 650px;

    --big-width: min(100% - var(--mNormal) * 2, var(--big-max-width));
    --small-width: min(100% - var(--mNormal) * 2, 500px);

    --grid-height: 200px;

}

@media screen and (max-width: 900px) {
    :root {
        --title: 4rem;
    }
}


@media screen and (max-width: 500px) {
    :root {
        --title: 2.875rem;
        --mSection: 4rem;
    }
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body, html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    padding: calc(var(--nav-height) + var(--mNormal)) 0 var(--mNormal) 0;
    display: flex;
    flex-direction: column;
}

.hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/*-------- SCROLLBAR --------*/

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--text);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-gray);
}

/*-------- BACKGROUND --------*/

#background {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: -11;
    transition: filter 1s;
}

#background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#background::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center, #17267377, #04050ddd 90%);
}

.blur {
    filter: blur(4px);
}

/*-------- NAV --------*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--mNormal);
    height: var(--nav-height);
    width: 100%;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    z-index: 11;
    padding: var(--mNormal);
    align-items: center;
}

nav::before {
    content: "";
    position: absolute;
    bottom: 0;
    top: auto;
    height: 1px;
    left: 0;
    width: 100%;
    background: radial-gradient(62.87% 100%, #fff3 0%, #fff0 100%);
}

.nav-logo {
    display: inline-flex;
    height: 100%;
    overflow: hidden;
    align-items: center;
    gap: var(--mNormal);
    text-decoration: none;
}

.nav-logo > img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: contain;
}

.nav-logo > span {
    color: var(--text);
}

.nav-links {
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    padding-inline: var(--mNormal);
    height: 100%;
    display: inline-flex;
    align-items: center;
    border: var(--border);
    background-color: var(--background);
    border-radius: var(--border-radius);
    margin-inline: auto;
}

.nav-links * {
    height: 1rem;
    font-size: 1rem;
    line-height: 1rem;
    object-fit: contain;
    cursor: pointer;
    text-decoration: none;
    color: var(--text);
    padding-inline: var(--mNormal);
    transition: color var(--transition-time) linear;
}

.nav-no-wide {
    display: none;
}

.nav-links > *:hover {
    color: var(--text-gray);
}

@media screen and (max-width: 1300px) {
    .nav-logo > span {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .nav-no-narrow {
        display: none;
    }

    .nav-no-wide {
        display: inline;
    }
}

@media screen and (max-width: 500px) {
    nav {
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
        display: flex;
        bottom: 0;
        top: auto;
    }

    nav::before {
        display: none;
        top: 0;
        bottom: auto;
    }

    .nav-logo {
        display: none;
    }

    body {
        padding: var(--mNormal) 0 calc(var(--nav-height) + var(--mNormal)) 0;
    }
}

/*-------- SECTIONS --------*/

body > section:not(:first-of-type) {
    padding: calc(var(--mSection)) 0 0 0;
}

section {
    display: flex;
    flex-direction: column;
    gap: var(--mNormal);
}

section p:not(.ignore), section a.center {
    text-align: center;
    width: var(--small-width);
    margin-inline: auto;
    color: var(--text);
    line-height: 1.3;
    font-size: var(--normal);
}

section a:not(.ignore) {
    text-decoration: underline;
    color: var(--text);
    font-size: var(--normal);
    transition: color var(--transition-time) linear;
}

section a:not(.ignore):hover {
    color: var(--text-gray);
}

/*-------- TITLES --------*/

h1, h2, h3 {
    text-align: center;
    color: var(--text);
}

h1 {
    font-size: var(--title);
    font-family: Courgette, sans-serif;
    margin-bottom: var(--mNormal);
}

h2 {
    font-size: var(--header);
    font-family: Courgette, sans-serif;
}

h3 {
    margin-top: var(--mNormal);
}

/*-------- FOOTER --------*/

#footer {
    margin-bottom: var(--mNormal);
}

#footer > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--mNormal);
    width: var(--big-width);
    margin-inline: auto;
}
