@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Noto+Color+Emoji&family=Noto+Sans:wght@300;400;500;700&display=swap");

:root {
    /*===== Colors =====*/
    --text: #eceef9;
    --gray-text: #b6b7bf;
    --red-text: #ec1f13;
    --background: #172673;
    --primary: #ffffff22;
    --hover: #ffffff44;
    --glowbase: #8dcfff;
    --glowcolor: #0095ff;

    /*===== EFFECTS =====*/
    --glow: drop-shadow(0px 0px 2px var(--glowcolor)) drop-shadow(0px 0px 4px var(--glowcolor)) drop-shadow(0px 0px 8px var(--glowcolor));
    --shadow: drop-shadow(0px 0px 2px var(--background)) drop-shadow(0px 0px 4px var(--background)) drop-shadow(0px 0px 8px var(--background));
    --glow-animation: filter 50ms;
    --transition-time: 75ms;

    /*===== Font =====*/
    font-family: "Noto Sans", sans-serif;
    --title: min(8rem, 14vw);
    --counter: 6.5rem;
    --social: min(8rem, 16vw);
    --header: 2.5rem;
    --normal: 1.5rem;
    --small: 1.25rem;

    /*===== Margins =====*/
    --mg: 1.5rem;
    --mx: 4rem;
    --msy: 2rem;
    --my: 6rem;

    /*===== OTHER =====*/
    --galerie-grid-height: 200px;
    --border-radius: 20px;

    /*===== var(--name) =====*/
}

@media screen and (max-width: 1000px) {
    :root {
        --counter: 5.5rem;
    }
}

@media screen and (max-width: 900px) {
    :root {
        --mx: 3rem;
    }
}

@media screen and (max-width: 800px) {
    :root {
        --counter: 4.5rem;
    }
}

@media screen and (max-width: 700px) {
    :root {
        --mx: 2rem;
    }
}

@media screen and (max-width: 600px) {
    :root {
        --counter: 3.5rem;
    }
}

@media screen and (max-width: 500px) {
    :root {
        --counter: 3rem;
        --header: 2rem;
        --normal: 1.25rem;
        --small: 1rem;

        --mx: 1rem;
        --msy: 1.5rem;
        --my: 4.5rem;
    }
}

@media screen and (max-width: 400px) {
    :root {
        --counter: 2.5rem;

        --mg: 1.25rem;

        --border-radius: 16px;
    }
}

@media screen and (max-width: 355px) {
    :root {
        --counter: 2rem;
    }
}

body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.center {
    display: flex;
    justify-content: center;
}

.hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}


/*-------- BACKGROUND --------*/

.background {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url("background.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: grayscale(100%) brightness(60%);
    transform: translate3d(0, 0, 0);
    z-index: -2;
}

.background-gradient {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle at center, #17267377, #04050ddd 90%);
    z-index: -1;
}

.blur-in {
    animation-name: blur-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.blur-out {
    animation-name: blur-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes blur-in {
    0% {
        filter: grayscale(100%) brightness(60%) blur(0);
    }
    100% {
        filter: grayscale(100%) brightness(50%) blur(4px);
    }
}

@keyframes blur-out {
    0% {
        filter: grayscale(100%) brightness(50%) blur(4px);
    }
    100% {
        filter: grayscale(100%) brightness(60%) blur(0);
    }
}

/*-------- SECTIONS --------*/

section {
    margin: var(--my) 0;
    padding: 0;
}

.back {
    text-decoration: none;
    margin: 0 var(--mx) var(--msy) var(--mx);
}

.back > i, .back > h2 {
    color: var(--gray-text);
    transition: color var(--transition-time);
    font-size: clamp(min(var(--header), 7vw), 100vw, min(var(--header), 7vw));
}

.back:hover > i, .back:hover > h2 {
    color: var(--text);
}

.back > h2 {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
}

.section-link {
    position: relative;
    text-decoration: none;
    margin: 0 var(--mx);
}

.section-link > i {
    position: absolute;
    top: 15%;
    left: -1em;
    font-size: var(--header);
    color: var(--gray-text);
    visibility: hidden;
}

.section-link:hover > i {
    visibility: visible;
}

.section-link > h2 {
    margin: 0;
    display: inline-block;
    padding: 0;
    color: var(--text);
    font-size: var(--header);
    text-align: center;
}

section > h3 {
    margin: var(--msy) 0 0 0;
    padding: 0;
    color: var(--text);
    font-size: var(--normal);
    text-align: center;
}

section > p {
    margin: var(--msy) auto 0 auto;
    padding: 0 var(--mx);
    color: var(--text);
    font-size: var(--normal);
    max-width: 500px;
    text-align: center;
}

/*-------- HERO --------*/

.title-link {
    text-decoration: none;
    margin-bottom: var(--msy);
    display: flex;
    justify-content: center;
}

.title-link > h1 {
    margin: 0;
    padding: 0;
    font-size: var(--title);
    text-align: center;
    color: var(--text);
    font-family: Courgette, sans-serif;
}

/*-------- GALERIE --------*/

#galerie-grid, .galerie-grid {
    margin: var(--msy) auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--mg);
    max-width: 1000px;
    padding: 0 var(--mx);
}

#galerie-grid > img, .galerie-grid > img {
    border-radius: var(--border-radius);
    height: var(--galerie-grid-height);
    object-fit: cover;
    overflow: hidden;
}

.more-images {
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: var(--galerie-grid-height);
    aspect-ratio: 1;
    background-color: var(--primary);
    transition: background-color var(--transition-time);
    border: 0;
}

.more-images:hover {
    background-color: var(--hover);
}

.more-images > i {
    font-size: 150px;
    color: var(--text);
}

/*-------- FOOTER --------*/

#footer {
    margin: 0 auto var(--msy) auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--mx);
    max-width: 1000px;
    padding: 0 var(--mx);
}

.footer-link {
    color: var(--text);
    font-size: var(--small);
}
