.footer {
    background-color: var(--background);
    display: flex;
    justify-content: center;
    padding: var(--m3) 0 var(--m1) 0;
}

.impressum {
    color: var(--text);
    font-size: var(--small);
}
