.footer {
    background-color: var(--background);
    display: flex;
    justify-content: center;
    padding: 0.5rem 1rem 1.5rem 1rem;
}

.impressum {
    color: var(--text);
    font-size: 1rem;
}
